
<html  lang="en-US" >
<head>
	<meta charset="UTF-8" />
	<title>Frequency</title>
	 
	

</head>
<body>
	<div  class="center">
	<fieldset class="scheduler-border">
	<legend class="scheduler-border">Frequency</legend>	
	<form id="form" class="form" method="POST">
		  	<label for="wk">Texts:
		  	<textarea type="text"  class="text" name="text" id="character" cols="73"></textarea>
		  	</label>

	<input type="submit" class="submit" onclick="sendRequest()" id="submit" value="Letter Count" />
	<input type="submit" class="submit" id="submit" onclick="sendRequest1()" value="Word Count" />
	</form>
		
		
	</fieldset>
	</div>

	<fieldset class="scheduler-table">
	<legend class="scheduler-table">Table</legend>
	<div id="table" class="table">
	
	
    	</div>
	</fieldset>
	
<script src="/static/js/count.js"> </script>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</body>
</html>
